.input {
  position: relative;
  display: inline-flex;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  align-items: center;
  input {
    flex: 1 0 auto;
    color: $clr-default;
    padding: 0.67857143em 1em;
    border: 1px solid #e0e1e2;
    border-radius: 0.285714286em;
    outline: 0;
    &:focus {
      border: 1px solid $clr-primary;
      &::-webkit-input-placeholder {
        color: rgb(161, 161, 161);
      }

      &::-moz-placeholder {
        color: rgb(161, 161, 161);
      }

      &:-ms-input-placeholder {
        color: rgb(161, 161, 161);
      }
    }
  }
  input::-webkit-input-placeholder {
    color: rgba(191, 191, 191, 0.87);
  }

  input::-moz-placeholder {
    color: rgba(191, 191, 191, 0.87);
  }

  input:-ms-input-placeholder {
    color: rgba(191, 191, 191, 0.87);
  }
  &.disabled {
    opacity: 0.4;
  }
  &.error {
    input {
      border-color: #e09c9c;
      color: #9c2826;
      background-color: #f5e2e2;
    }
  }
  &.icon {
    input {
      padding-right: 2.4285714em;
    }
    .icon {
      position: absolute;
      right: 0.7142857em;
      top: 50%;
      transform: translateY(-50%);
    }
    &.left {
      input {
        padding-right: 1em;
        padding-left: 2.4285714em;
      }
      .icon {
        position: absolute;
        right: initial;
        left: 0.7142857em;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &.submit {
    input {
      padding-right: 2.67142857em;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      width: 2.67142857em;
      height: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  &.label {
    .label {
      background-color: #e8e8e8;
      height: 100%;
      padding: 0.67857143em 1em;
      border: 1px solid #e0e1e2;
      border-right-width: 0;
      letter-spacing: 0;
    }
    &.left {
      .label {
        border-radius: 0.285714286em 0 0 0.285714286em;
        &.basic {
          background-color: #fff;
          border-right-width: 1px;
        }
        & + input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    &.right {
      input {
        border-top-left-radius: 0.285714286em;
        border-bottom-left-radius: 0.285714286em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        & + .label {
          border-radius: 0 0.285714286em 0.285714286em 0;
          border-left: 0;
        }
      }
    }
  }
}
